{
    "presets": [
      [
        "babel-preset-gatsby"
      ]
    ],
    "plugins": [
      [
        "prismjs",
        {
          "languages": [
            "javascript",
            "css",
            "markup",
            "json",
            "handlebars",
            "yaml",
            "java",
            "dart",
            "xml",
            "kotlin",
            "go",
            "bash",
            "docker",
            "dockerfile",
            "groovy",
            "diff"
          ],
          "theme": "okaidia",
          "css": true
        }
      ]
    ]
  }
